{# src/Monuments/FichesBundle/Resources/views/Default/fiche.html.twig #}

{% extends "ApbMonumentsBundle:Default:index.html.twig" %}

{% block monuments_content %}

<div align="left">
    <h1>Conception &amp; réalisation</h1>
</div>

<p>
    <strong>Archéologie paléochrétienne et byzantine</strong><br />
    J.-M. Spieser<br />
    Email : <a href="mailto:typika@unifr.ch">typika@unifr.ch</a><br />
    Tél : +41 (0)26 300.78.31
</p>
<p>
    <strong>Centre NTE</strong><br />
    Email : <a href="mailto:nte@unifr.ch">nte@unifr.ch</a><br />
    Url : <a href="http://www.unifr.ch/nte">www.unifr.ch/nte</a>
</p>

{% endblock %}
