{# src/Apb/DiathequeBundle/Resources/views/Default/fiche.html.twig #}

{% extends "ApbDiathequeBundle:Default:index.html.twig" %}

{% block diatheque_content %}

<table border="0" width="65%">
    <tr>
        <td colspan="2">
            <h1>Conception &amp; R&eacute;alisation</h1>
            <br />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">
            <strong>Arch&eacute;ologie pal&eacute;ochr&eacute;tienne et byzantine</strong>
        </td>
    </tr>

    <tr>
        <td colspan="2">J.-M. Spieser</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Email :<a href="mailto:typika@unifr.ch">typika@unifr.ch</a>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>T&eacute;l: +41 (0)26 300.78.31</td>
        <td>&nbsp;</td>
    </tr>


    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="3">
            <strong>Centre NTE</strong>
        </td>
    </tr>


    <tr>
        <td colspan="2">Fran&ccedil;ois Jimenez</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Email :<a href="mailto:nte@unifr.ch">nte@unifr.ch</a>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Url: <a href="http://www.unifr.ch/nte">www.unifr.ch/nte</a>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>


</td>
</tr>
</table>

{% endblock %}
