.ficheTable{
	width: 100%;
	margin-top: 20px;
	border: 1px solid #efefef;
}

.ficheTitle{
	font-weight: bold;
	color: #006699;
	background-color: #F0F6F9;
}

.ficheSubtitle{
	margin-top: 10px;
	color: #444444;
	font-weight: bold;
}

.ficheText{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000000;
}

.ficheLink{
	font-weight:normal;
}

#bandeau {
	position:relative;
	background-image: url(http://unifr.ch/images/crpr/unifr.png);
	background-repeat: no-repeat;
	margin-left: 200px;
	padding: 0px;
	height: 60px;
}

.searchBySecondLevelLabel{
	color: navy;
}

.buttonImage{
	opacity: 1;
}

.buttonImage:hover{
	opacity: .5;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	cursor: pointer;
}


#address2 .txt {
    background-color: #FFFFFF;
    bottom: 0;
    color: #565656;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-top: 34px;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
    text-decoration: none;
}

#identity #address2 a {
    color: #565656;
    text-decoration: none;
}

#webpage2 {
    text-align: left;
}



